<!-- Container Jumbo -->
<section class="p-2">
  <!-- Section Jumbo -->
  <section class="bg-white rounded-md dark:bg-gray-800">
    <div class="py-8 px-4 mx-auto mt-9 max-w-screen-lg text-center lg:py-16">
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >
        Welcome to Sports App
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
      >
        On this page you find everything related to your favorite sports,
        statistics, events and many. Check calendar and dates of events for each
        sport, video summaries and streaming.
      </p>
      <div
        class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
      >
        <a
          routerLink="sports"
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-chill-700 hover:bg-blue-chill-800 focus:ring-4 focus:ring-blue-chill-300 dark:focus:ring-blue-chill-900"
        >
          Get started
          <svg
            class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
        <a
          routerLink="about"
          class="inline-flex justify-center items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
        >
          Learn more
        </a>
      </div>
    </div>
  </section>
  <!-- End Section Jumbo -->
</section>
<section>
  <!-- End Container Jumbo -->

  <!-- Icon Section -->
  <article class="my-6">
    <sport-items [list]="iconList"> </sport-items>
  </article>
  <!-- End Icon Section -->

  <!-- Section Gallery -->
  <article class="my-4" *ngIf="sliderList.length > 0">
    <slider [list]="sliderList"> </slider>
  </article>
  <!-- End Section Gallery -->
</section>
